{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            Title: <input autofocus class="form-control" type="text" name="title" placeholder="Tell us what you are selling" required>
        </div>
        <div class="form-group">
            Description: <textarea class="form-control" name="description" placeholder="Add a description" required></textarea>
        </div>
        <div class="form-group">
            Price (in US $): <input class="form-control" type="number" step="0.01" name="starting_price" placeholder="What is the starting bid" required>
        </div>
        <div class="form-group">
            Image: <input class="form-control" type="url" name="image_url" placeholder="Paste the image URL">
        </div>
        <div class="form-group">
            Category:
            <select class="form-control" name="category" placeholder="Select a category">
                <option></option>
                {% for cat_value in categories %}
                    <option value="{{cat_value}}">{{cat_value}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-primary"/>
    </form>
{% endblock %}