{% extends "tracker/layout.html" %}

{% block title %}
    Create User
{% endblock %}

{% block body %}
<main style="max-width: 330px; padding: 15px;">
    <form action="{% url 'create-user' %}" method="post">
        {% csrf_token %}

        <h1 class="h3 mb-3 fw-normal">Create User</h1>

        <div class="form-floating">
            <input autofocus type="text" class="form-control" id="floatingInput" name="username" placeholder="Username" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
            <label for="floatingInput">Username</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingFirstName" name="firstName" placeholder="First Name" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0;">
            <label for="floatingFirstName">First Name</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingLastName" name="lastName" placeholder="Last Name" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0;">
            <label for="floatingLastName">Last Name</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0;">
            <label for="floatingPassword">Password</label>
        </div>

        <select class="form-select" aria-label="Choose Job" style="margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;">
            <option selected disabled>Select a Job</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <button class="w-100 btn btn-lg btn-primary" type="submit" value="create-user">Create</button>

    </form>
</main>
{% endblock %}