{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
        <h1>All Posts</h1>
        <div class="card" style="margin: 5px 0;">
            <div class="card-body">
                <h4>New Post</h4>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" name="text"></textarea>
                    <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Post</button>
                </form>
            </div>
        </div>
    {% endif %}
    
    {% for post in c_page.object_list %}
    <div class="card" style="margin: 5px 0;">
        <div class="card-body">
            <a href="{% url 'profile' username=post.user.username %}"><h6>@{{ post.user }}</h6></a>
            <div class="post-content" data-pid="{{post.id}}">
                <h5 data-pid="{{post.id}}">{{ post.text }}</h5>
                <p>{{ post.created_at }}</p>
                {% if user.is_authenticated %}
                    <p data-pid="{{post.id}}" style="cursor:pointer;" onclick="likeUnlike(this)"><b>{{ post.likes.count }}</b> Likes</p>
                {% else %}
                    <p style="cursor:pointer;"><b>{{ post.likes.count }}</b> Likes</p>
                {% endif %}
                {% if c_user.username == post.user.username %}
                    <button class="btn btn-outline-secondary" onclick="edit_post('{{post.id}}')">Edit</button>
                {% endif %}
            </div>
            <div class="edit-content" data-pid="{{post.id}}" style="display:none">
                <form id="edit-form" onsubmit="save_edit('{{post.id}}'); return false;">
                    <textarea class="form-control edit-textarea" name="text" data-pid="{{post.id}}"></textarea>
                    <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Save</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if c_page.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if c_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ c_page.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if c_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ c_page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/global.js' %}"></script>
{% endblock %}